<launch>
    <rosparam file="$(find scara_v2_full_control)/config/scara_v2_full_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/scara_v2_full" args="joint1_position_controller joint2_position_controller joint3_position_controller jointGripper_rightFinger joint_state_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/scara_v2_full/joint_states" />
    </node>
</launch>
