<!--MOVEIT + SCARA menu + SCARA GUI + Colision object publisher + Node for cylinder visualization + RT control-->

<launch>
    <include file="$(find scara_rt_v3_moveit_config)/launch/demo.launch" />
    <node name="move_group_interface5_rt" pkg="scara_v2_moveit_api" type="move_group_interface5_rt" respawn="false" output="screen"/>
    <node name="scara_menu" pkg="scara_v2_moveit_api" type="scara_menu" respawn="false" output="screen"/>
    <node name="scara_gui" pkg="scara_gui" type="scara_gui" respawn="false" output="screen"/>
    <node name="scara_colision_object" pkg="scara_v2_moveit_api" type="scara_colision_object" respawn="false" output="screen"/>
    <node name="multiple_cylinder_publisher_scara_v3" pkg="scara_v2_moveit_api" type="multiple_cylinder_publisher_scara_v3" respawn="false" output="screen"/>
</launch>