<!--GUI + MENU + REAL SCARA-->

<launch>
    <include file="$(find scara_and_rt_moveit_config)/launch/demo_matlab_mfile.launch" />
    <node name="scara_gui" pkg="scara_gui" type="scara_gui" respawn="false" output="screen"/>
    <node name="scara_menu" pkg="scara_v2_moveit_api" type="scara_menu" respawn="false" output="screen"/>

</launch>