<launch>
    <include file="$(find scara_v2_moveit_config)/launch/demo.launch" />
    <node name="move_group_interface3_PICKandPLACE" pkg="scara_v2_moveit_api" type="move_group_interface3_PICKandPLACE" respawn="false" output="screen"/>
    <node name="cube_publisher" pkg="scara_v2_moveit_api" type="cube_publisher" respawn="false" output="screen"/>

</launch>
